#autograding_bar {
  position:absolute;
  height: 1em;
  width:8em;
  right:16em;
  top:3px;
  /*padding-top: 2px;*/
  /*padding-left: 5px; */
  color:white; 
  font-family:helvetica;
  text-align:right;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

#autograding_flag {
  margin-right:3px;
  font-weight:bold;
  height:100%;
  top:0px;
}

#autograding_button {
  position:absolute;
  height:1em;
  width: 6.5em;
  right:0px;
  padding-top:2px;
  padding-right:3px;
  padding-bottom:2px;
  padding-left:3px;

  /*line-height:.9em;*/
  text-align:center;
  border-radius:0px 4px 4px 0px;
  background-color:#333333;
  font-size:1em;
  color:#FFFFFF;
  display:inline-block;

  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  border:1px solid #666666;
}

/*#autograding_button:hover {
  border:1px gray solid;
  margin-right:0px;
  background-color

}*/

#autograding_button > .hover_darken {
    position:absolute;
    width:6.88em;
    height:calc(100%);
    top:0px;
    right:0em;
    background-color:#000000;
    opacity: 0.1;
    border-radius: 0px 4px 4px 0px;
}

#autograding_button:hover > .hover_darken {
    opacity:0;
}

#onclick-menu > .hover_darken {
    position:absolute;
    width:calc(100%);
    height: calc(100%);
    top:0px;
    background-color:#000000;
    opacity: 0.1;
    border-radius: 4px 0px 0px 4px;
    right: 0em;
}
#onclick-menu:hover > .hover_darken {
    opacity:0;
}
.onclick-menu {
    position: absolute;
    display: inline-block;
    color: white;
    cursor: pointer;
    outline: 0;
    outline: none;
    right: 7.25em;
    height:1.25em;
    margin-right: -5px;
    margin-left: 0px;
    padding-left:3px;
    padding-right:3px;
    /*padding-top:2px;*/
    -moz-transition: color 0.8s;
    -webkit-transition: color 0.8s;
    transition: color 0.8s;
    border:1px solid #666666;
    border-radius:4px 0px 0px 4px;

    /*line-height:1em;*/
}

.onclick-menu:before {
    content: &#9776;
}

.onclick-menu:hover {
  /*font-weight:bold;*/
  /*margin-right:-4px;*/
  /*margin-top:5px;*/
  
  /*background-color:black;*/
  /*opacity: 0.8;*/
}
.onclick-menu:hover nav {
  /*opacity:1.0;*/
}

.onclick-menu span {
  line-height:1em;
  font-size:1.3em;
}

.onclick-menu nav {
  color:white;
  /*opacity:1;*/
}

.menu-item-sub-menu{
    list-style-type:none;
    padding: 1px 3px;
    font-size: 12px;
}

.menu-divider-sub-menu{
    list-style-type:none;
    padding:0px;
}


#enabled-button:hover, #enabled-button:hover a {
    background-color: #1C1C1C;
    /*width: 100%;*/
}


#reset-button, #revert-button, #last-submit, #undo-button {
    color: inherit;
    text-decoration: none;
    display: block;
    width: auto;
}

#menu-divider {
  background-color: rgb(75, 75, 75);
  height:2px;
}

#dropdown-closed {
    position: absolute;
    padding-left: 0;
    min-width: 175px;
    text-align: left;
    padding: 5px;
    z-index: 999;
    right: -10px;

    visibility: hidden;
    list-style-type:none;
    position: absolute;

    /*background-color: #474747;*/
    background-color: #666666;
}

#dropdown-open {
    right: -10px;
    visibility: visible;
    outline: 0;
    outline: none;
    position: absolute;
    padding-left: 0;
    min-width: 175px;
    text-align: left;
    padding: 5px;
    z-index: 0;
}

.bubble {
    position: relative;
    /*width: 250px;
    height: 120px;*/
    padding: 0px;
    background-color: #666666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: #FFFFFF solid 1.5px;
    box-shadow: 3px 3px 10px #000000;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 8px 10px;
    border-color: #666666 transparent;
    display: block;
    width: 0;
    z-index: -1;
    top: -10px;
    left: 161px;
}

.bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 9px 11px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: -2;
    top: -12px;
    left: 160px;
}

#disabled-button {
    background: #666666;
    cursor: default;
}


.is-hidden {
  display: none;
}

.AG-help-button {
  letter-spacing: -0.5px;
  font-weight: 600;
  text-decoration: none;
  color: #333;
  /*background: #e3e3e3;
  padding: 2px 5px 0px 5px;*/
  background: #66CCFF;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  /*border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999;*/
  position: relative;
  top: -2px;
  text-align: center;
  color: white;
  line-height: 1.2;
  border: 0px solid white;
  font-size: 0.8em;
  top: -3px;
}

#circle {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 7.5px;
    -moz-border-radius: 7.5px;
    border-radius: 7.5px; 
}


.button-close {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.popup-content {
  padding: 20px 30px;
  width: 600px;
  position: relative;
  /*min-height: 300px;*/
  margin: 5% auto 0;
  background: #fff;
  color: black;
  text-align: left;
}

.example-ag-buttons {
  margin-top:2px;
  /*height:1.2em;*/
  padding-top:2px;
  padding-right:3px;
  padding-bottom:0px;
  padding-left:3px;
  line-height:.9em;
  border:1px gray solid;
  border-radius:4px;
  font-size:1.2em;
  max-width: 14.672px;
  text-align: left;
}

#ex-ungraded {
  background-color: #FF3333;
  color: #FF3333;
  margin-left: 20px;
}

#ex-graded {
  background-color: #33FF33;
  color: white;
  margin-left: 20px;
}

#ex-semigraded {
  background-color: orange;
  color: black;
}

.view-results {
  color: white;
  cursor: pointer;
}