span.message {
	text-align: left;
	font-weight: normal;
	white-space: nowrap;
	display: none;
}

td.correctans {
	font-weight: bold;
	background-color: #B4ECAC;
	border-bottom:1px solid #333333;
}

td.incorrectans {
	font-weight: bold;
	background-color: #FF9999;
	border-bottom:1px solid #333333;
}

td.tests {
	background-color: #e7e3e3;
    color: #4F5150;
    width: 20px;
}

td.evens {
    color: #4F5150;
    background-color: #e7e3e3;
    white-space: normal;
	padding: 3px 20px;
}

table.results {
  display: block;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
  table-layout: fixed;
  border-spacing: 0px;
  text-align: center;
 }

  th.titles {
    background-color: #4F5150;
    color: white;
    font-weight: normal;
    padding: 5px 2px;
    /*text-align: center;*/
  }

  td.data {
    color: #4F5150;
    white-space: normal;
	padding: 3px 20px;
	/*font-size:0.7em;*/
  }

  td.hidden {
    white-space: normal;
	padding: 3px 20px;
	visibility: hidden;
	width: 20px;
  }

  td.regrade {
    color: red;
    white-space: normal;
	padding: 3px 20px;
	width: 20px;
  }


.correctans, .incorrectans, .tests {
	white-space: normal;
	padding: 3px 5px;
}

#table-data, #reporter-table-data {
	display: table;
	width: 100%;
}

.results tbody {
	display: table;
	width: 100%;
}



.toggle-box {
	display: none;
}

.toggle-box + label {
	cursor: pointer;
	display: block;
	font-weight: bold;
	width: 75px;
}

.toggle-box + label + div {
	display: none;
}


.toggle-box:checked + label + div {
	display: block;
	height: auto;
	width: 100%;
}

.toggle-box + label:before {
	background-color: #e7e3e3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #4F5150;
	content: "+";
	display: block;
	float: left;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	margin-right: 5px;
	text-align: center;
	width: 20px;
}


.toggle-box:checked + label:before {
	content: "\2212";
}


span {
  text-transform: initial;
}

.overlay-button {
	position: absolute;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 40px;
	vertical-align: middle;
	/*text-transform: uppercase;*/
	font-weight: 600;
	width: 81px;
	display: block;
}

#full-screen {
  z-index: 16777271;
  position: fixed;
  right: 0;
  bottom: 0;
  box-shadow: 3px 3px 10px #000000;
  color: black;
  background-color: white;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
		


