span.message {
	text-align: left;
	font-family: "Candara";
	font-size: 15px;
	font-weight: normal;
}

span.correctans {
	color: green;
	font-family: "Candara";
	font-size: 15px;
	font-weight: bold;
}

span.incorrectans {
	color: red;
	font-family: "Candara";
	font-size: 15px;
	font-weight: bold;
}