/*
  Control bars and user-facing buttons to interact with the autograder.
*/

#outside-menu {
  width: 100%;
  height: 100vh;
  position: absolute;
}

#autograding_flag {
  margin-right: 3px;
  font-weight: bold;
  height: 100%;
  top: 0px;
}


#enabled-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#reset-button, #revert-button, #last-submit, #undo-button, #feedback-button, #help-button {
    color: inherit;
    text-decoration: none;
    display: block;
    width: auto;
}


#disabled-button {
    background: rgba(0, 0, 0, 0.2);
    cursor: default;
}


.AG-help-button {
  letter-spacing: -0.5px;
  font-weight: 600;
  text-decoration: none;
  color: #333;
  background: #66CCFF;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  top: -2px;
  text-align: center;
  color: white;
  line-height: 1.2;
  border: 0px solid white;
  font-size: 0.8em;
  top: -3px;
}

#circle {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 7.5px;
    -moz-border-radius: 7.5px;
    border-radius: 7.5px;
}


.button-close {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  overflow: auto;
}

.popup-content {
  padding: 20px 30px;
  width: 80%;
  position: relative;
  margin: 5% auto 0;
  background: #fff;
  color: black;
  text-align: left;
}

.example-ag-buttons {
  margin-top:2px;
  padding-top:2px;
  padding-right:3px;
  padding-bottom:0px;
  padding-left:3px;
  line-height:.9em;
  border:1px gray solid;
  border-radius:4px;
  font-size:1.2em;
  max-width: 14.672px;
  text-align: left;
}

#ex-ungraded {
  background-color: #FF3333;
  color: #FF3333;
  margin-left: 20px;
}

#ex-graded {
  background-color: #33FF33;
  color: white;
  margin-left: 20px;
}

#ex-semigraded {
  background-color: orange;
  color: black;
}

.view-results {
  color: white;
  cursor: pointer;
}

#different-feedback, #edx-submit-different {
  color: red;
}

.regrade-button {
  border: 2px black solid;
  border-radius: 10px;
  background-color: rgb(255, 153, 153);
  color: black;
  padding: 2px;
  box-shadow: 2px 2px 5px #888888;
  margin: 0px;
  cursor: pointer;
}

#example-image {
  width: 100%;
}

#full-screen-arrow {
    position: absolute;
    right: 80px;
    bottom: 0;
    color: white;
    font-size: 120%;
}

#full-screen-help {
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 150px;
    color: black;
    font-size: 0.75em;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
    border: 5px solid rgba(41, 41, 41, 0.74);
  }

#menu-item-arrow {
    color: white;
    font-size: 1.2em;
}

#menu-item-help {
    width: 20%;
    color: black;
    font-size: 0.7em;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
    border: 5px solid rgba(41, 41, 41, 0.74);
}

#ag-button-arrow {
    color: white;
    font-size: 1.2em;
}

#ag-button-help {
    width: 7em;
    color: black;
    font-size: 0.75em;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
    border: 5px solid rgba(41, 41, 41, 0.74);
}

#initial-ag-button-arrow {
    color: white;
    font-size: 1.2em;
}

#initial-ag-button-help {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
    border: 5px solid rgba(41, 41, 41, 0.74);
    width: 7em;
    font-size: 0.75em;
}

#hamburger-menu-arrow {
    color: white;
    font-size: 1.2em;
}

#hamburger-menu-help {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
    border: 5px solid rgba(41, 41, 41, 0.74);
    width: 7em;
    font-size: 0.75em;
}
